<!DOCTYPE html>
<html>
<head>
    <title>Employee Management System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
</head>
<body>

<nav class="navbar">
  <div class="logo">EMS</div>
  <div class="nav-links">
    <a href="/">Home</a>
    <a href="/view">View Employees</a>
    <a href="/login">Admin Login</a>
  </div>
</nav>

<div class="home-box">
    <h1>Employee Management System</h1>
    <p>Manage employee data efficiently and securely</p>
</div>

</body>
</html>
