<nav>
  <a href="/dashboard">Dashboard</a>
  <a href="/add_page">Add New Record</a>
  <a href="/view">View Employees</a>
  <a href="/logout">Logout</a>
</nav>

<h2>Add Employee</h2>
<div class="container">
    
<form action="/add" method="post">
  <input name="name" placeholder="Name" required>
  <input name="email" placeholder="Email" required>
  <input name="role" placeholder="Role" required>
  <input name="salary" placeholder="Salary" required>
  <button>Add Employee</button>
</form>
</div>

