<!DOCTYPE html>
<html>
<head>
    <title>Admin Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
</head>
<body>

<div class="login-container">
    <h2>Admin Login</h2>
    
    <form method="post">
        <input name="username" placeholder="Username" required>
        <input name="password" type="password" placeholder="Password" required>
        <button>Login</button>
    </form>

    {% if error %}
    <p class="error">{{error}}</p>
    {% endif %}
</div>

</body>
</html>
